@page
@model AspNetCoreSample.Pages.Order.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete Order</h1>
<div>
    <div class="form-group">
        <label>Order Number</label>
        <span class="form-control">@Html.DisplayFor(c => c.item.Order_Id1)</span>
    </div>
    <div class="form-group">
        <label>Store</label>
        <span class="form-control">@Html.DisplayFor(c => c.item.StoresObjectFromStore_Id.store_name)</span>
    </div>

    <div>
        <h4>Products Ordered</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.item.Order_itemsListFromOrder_id)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(c => product.ProductsObjectFromProduct_Id.Product_Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <form method="post">
        <input type="hidden" asp-for="item.Order_Id1" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/">Back to List</a>
    </form>
</div>

