@page
@model AspNetCoreSample.Pages.Order.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Order Details</h2>

<div>
    <div class="form-group">
        <label>Order Number</label>
        <input asp-for="item.Order_Status" class="form-control" readonly/>
    </div>
    <div class="form-group">
        <label>Customer</label>
        <input asp-for="item.CustomersObjectFromCustomer_id.Name" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Store</label>
        <input asp-for="item.StoresObjectFromStore_Id.store_name" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Sales Rep</label>
        <input asp-for="item.StaffsObjectFromStaff_id.Name" class="form-control" readonly />
    </div>
    <div>
        <h4>Products Ordered</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.item.Order_itemsListFromOrder_id)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(c => product.ProductsObjectFromProduct_Id.Product_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(c => product.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(c => product.RetailPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(c => product.ItemTotal)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
